<section id="about">
    <div class="container">
        <div class="row">
            <img class="img-responsive" src="assets/images/profile.png" alt="">
            <div class="col-lg-12 text-center">
                <h2>{{about.title}}</h2>
                <hr class="star-primary">
                <p>{{about.heading}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>{{about.body}}</p>
            </div>
            <div class="col-lg-12">
                <h3>{{about.experience.title}}<span></span></h3>

                {{#each about.experience.recent}}
                <p><span>{{.}}</span></p>
                {{/each}}

            </div>
            <div class="col-lg-12">
                <h3>{{about.career.title}}<span></span></h3>
                <ul>
                {{#each about.career.summary}}
                <li><p><span>{{.}}</span></p></li>
                {{/each}}
                </ul>
                <!--<ul class="list-inline item-details">-->
                <!--<li>Project:-->
                <!--<strong><a>BBC Digital Media Initiative is a transformation programme within the BBC to migrate from a tape & analogue based distributed business to a fully digital and online one</a>-->
                <!--</strong><br>-->
                <!--</li>-->
                <!--<li>Summary:-->
                <!--<strong><a>Responsible for building the UI layer and Restful service layer. Gavin went on to lead the UI delivery and provide knowledge transfer to the BBC development team. Gavin led accessibility workshops with a very challenging stakeholder to ensure the UI would be WCAG compliant.</a>-->
                <!--</strong><br>-->
                <!--</li>-->
                <!--<li>Tech:-->
                <!--<strong><a>Dojo, IBM Kuba MVC, HTML5, CSS3, REST, JAX-RS</a>-->
                <!--</strong><br>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
            <!--<div class="col-lg-4 col-lg-offset-2">-->
            <!--<p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
            <!--<p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>-->
            <!--</div>-->
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
            <!--<a href="#" class="btn btn-lg btn-outline">-->
            <!--<i class="fa fa-download"></i> Download CV-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>