<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{contact.title}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <p><span class="title">email :</span> <a data-event-category="Contact" data-event-action="click" data-event-label="{{contact.channel.email}}" href="mailto:{{contact.channel.email}}" rel="nofollow">{{contact.channel.email}}</a> </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <p><span class="title">linkedin :</span> <a data-event-category="Contact" data-event-action="click" data-event-label="{{contact.channel.linkedin}}" target="_blank" href="https://{{contact.channel.linkedin}}" rel="nofollow">{{contact.channel.linkedin}}</a></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <p><span class="title">bitbucket :</span> <a data-event-category="Contact" data-event-action="click" data-event-label="{{contact.channel.repo}}" target="_blank" href="https://{{contact.channel.repo}}" rel="nofollow">{{contact.channel.repo}}</a></p>
                    </div>
                </div>

                <br>

            </div>
        </div>
    </div>
</section>