<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{{copyright}}} <br/> {{registered}}
                </div>
            </div>
        </div>
    </div>
</footer>