<title>{{{title}}}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="keywords" content="" />
<meta name="description" content="Fuori Limited: A professional practice that provides expert advice and software delivery." />

<meta charset="UTF-8">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56057461-1', 'auto');
    ga('send', 'pageview');

</script>