<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive profile" src="assets/images/profile.png" alt="">-->
                <div class="intro-text">
                    <div class="logo"><h1>F</h1></div>
                    <h1 class="name">{{header.title}}</h1>
                    <span class="skills">{{header.heading}}</span>
                    <hr class="star-light">
                    <p>{{header.body}}</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->