<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="cookie-policy alert alert-dismissible alert-info" style="display:none;">
        <div class="container">
            <div class="row">
                <button type="button" class="close">&times;</button>
                <p>{{cookies}}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-event-category="Navigation" data-event-action="click" data-event-label="Home" class="navbar-brand" href="/index.html">{{company}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a data-event-category="Navigation" data-event-action="click" data-event-label="#page-top" href="#page-top">{{nav.home}}</a>
                </li>
                <li class="page-scroll">
                    <a data-event-category="Navigation" data-event-action="click" data-event-label="#about" href="#about">{{nav.about}}</a>
                </li>
                <li class="page-scroll">
                    <a data-event-category="Navigation" data-event-action="click" data-event-label="#skills" href="#skills">{{nav.skills}}</a>
                </li>
                <li class="page-scroll">
                    <a data-event-category="Navigation" data-event-action="click" data-event-label="#contact" href="#contact">{{nav.contact}}</a>
                </li>
            </ul>
        </div>

    </div>

</nav>
<!-- Navigation -->