<section class="success" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{skills.title}}</h2>
                <hr class="star-light">
                <!--<p>Full Stack Developer</p>-->
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <!--<h3>Skills.<span></span></h3>-->
            {{#each skills.skills1}}
                <p><span>{{.}}</span></p>
            {{/each}}

            {{#each skills.skills2}}
                <p><span>{{.}}</span></p>
            {{/each}}

            {{#each skills.skills3}}
                <p><span>{{.}}</span></p>
            {{/each}}
            </div>
            <br> <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a data-event-category="Download CV" data-event-action="click" data-event-label="/assets/cms/files/CV-GavinAstur.pdf" rel="nofollow" href="/assets/cms/files/CV-GavinAstur.pdf" target="_blank" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> {{skills.download}}
                </a>
            </div>
        </div>
    </div>
</section>